# SPDX-License-Identifier: GPL-2.0-or-later
# ↑ 此文件采用 GPL-2.0 或更新版本的开源许可证，SPDX 是标准化许可证标识符

#
# STMicroelectronics ST-LINK/V1, ST-LINK/V2, ST-LINK/V2-1, STLINK-V3 in-circuit
# debugger/programmer
# ↑ 支持 STMicroelectronics 公司的多种 ST-Link 调试器/编程器型号
#
# This new interface driver creates a ST-Link wrapper for ARM-DAP named "dapdirect"
# Old ST-LINK/V1 and ST-LINK/V2 pre version V2J24 don't support "dapdirect"
# ↑ 新驱动为 ARM-DAP 创建了一个名为 "dapdirect" 的 ST-Link 封装层
# ↑ V2J24 版本之前的旧款 ST-LINK/V1 和 V2 不支持 "dapdirect" 模式
#
# SWIM transport is natively supported
# ↑ 原生支持 SWIM 传输协议（ST 专有的单线调试接口）
#

adapter driver amba-dbg
# ↑ 明确使用 ST-Link 专用驱动（非通用 HLA 驱动）

amba-dbg vid_pid 0x0483 0x3744 0x0483 0x3748 0x0483 0x374b 0x0483 0x374d 0x0483 0x374e 0x0483 0x374f 0x0483 0x3752 0x0483 0x3753 0x0483 0x3754 0x0483 0x3755 0x0483 0x3757
# ↑ 注册所有 ST-Link 版本的 USB Vendor ID (VID) 和 Product ID (PID)
# ↑ 格式：vid_pid VID1 PID1 VID2 PID2 ...
# ↑ 0x0483 是 STMicroelectronics 的 VID
# ↑ 常见型号对应：
# ↑ 0x0483 0x3744 - ST-LINK/V1
# ↑ 0x0483 0x3748 - ST-LINK/V2
# ↑ 0x0483 0x374b - ST-LINK/V2-1
# ↑ 0x0483 0x374d - ST-LINK/V3
# ↑ 0x0483 0x374e - ST-LINK/V3E
# ↑ 0x0483 0x3752 - ST-LINK/V3 烧录器模式
# ↑ 0x0483 0x3753 - ST-LINK/V3 桥接器模式
# ↑ 0x0483 0x3754/0x3755/0x3757 - 其他变体

# transport select jtag
# transport select swd
# transport select swim
# ↑ 这些传输协议选择被注释掉，用户需在使用时明确指定：
# ↑ 例如：openocd -f interface/stlink.cfg -c "transport select swd" ...
# ↑ JTAG: 标准调试接口，线多功能全
# ↑ SWD: 串行调试接口，线少速度快
# ↑ SWIM: ST 专有单线接口，用于8位MCU

# Optionally specify the serial number of usb device
# e.g.
# adapter serial "\xaa\xbc\x6e\x06\x50\x75\xff\x55\x17\x42\x19\x3f"
# ↑ 可选：指定特定 USB 设备的序列号
# ↑ 当连接多个 ST-Link 设备时，可用此区分
# ↑ 示例中的序列号是二进制数据的十六进制表示
